* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

body,
html {
  font-family: "Atomic Age", cursive;
  display: grid;
  height: 100vh;
  scroll-behavior: smooth;
  background: linear-gradient(90.35deg, rgba(0, 0, 0, 0.5) 16.51%, rgba(109, 76, 110, 0.3) 48.2%, rgba(0, 0, 0, 0.01) 83.93%), url(../images/back-img.png);
  background-position: center;
  font-style: normal;
  position: relative;
}

:is(*):hover {
  transition: all 0.4s ease;
}

.left {
  font-size: 70px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 30px;
}

.right {
  font-size: 70px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 30px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  padding: 25px;
  background: linear-gradient(90.35deg, rgba(122, 78, 132, 0.2) 20.51%, rgba(91, 53, 91, 0.5) 48.2%, rgba(0, 0, 0, 0.01) 83.93%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 400;
  font-size: 30px;
  color: #15FFAB;
  line-height: 40px;
}
.header__list {
  display: flex;
  gap: 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.header__list li a:hover {
  color: #15FFAB;
}
.header__list-active {
  color: #15FFAB;
}
.header__search {
  padding: 15px 15px 16px 15px;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  background-color: transparent;
}
.header__search input {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
}
.header__search input:focus {
  outline: none;
}
.header__search i {
  color: #FFFFFF;
  padding-left: 10px;
}
.header__btn {
  padding: 15px 35px 14px;
  background-color: #15FFAB;
  border: 1px solid transparent;
  border-radius: 25.5px;
  cursor: pointer;
}
.header__btn:hover {
  background-color: transparent;
  border: 1px solid #15FFAB;
  color: #15FFAB;
}

.icon {
  display: none;
  font-size: 20px;
  padding: 10px 12px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #15FFAB;
  border: 1px solid #15FFAB;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}
.icon:hover {
  background-color: #15FFAB;
  color: #000000;
}
.icon:first {
  margin-left: 30px;
}

.main {
  padding-bottom: 15px;
}
.main__inner {
  margin-top: 30px;
  display: flex;
  color: #FFFFFF;
  align-items: center;
  position: relative;
  margin-left: 50px;
}
.main__title {
  margin-top: 30px;
  font-weight: 400;
  font-size: 75px;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  color: #FFFFFF;
}
.main__categories {
  margin-bottom: 20px;
}
.main__info {
  color: #E3E3E3;
  margin-top: 20px;
}
.main__social {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.main__social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main__social-icons i {
  padding: 15px 20px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #15FFAB;
  border: 1px solid #15FFAB;
  cursor: pointer;
}
.main__social-icons i:hover {
  background-color: #15FFAB;
  color: #000000;
}
.main__play {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 26px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #15FFAB;
  border: 1px solid #15FFAB;
  color: #000000;
  border-radius: 25px;
}
.main__play:hover {
  background-color: transparent;
  border: 1px solid #15FFAB;
  color: #15FFAB;
}
.main__img {
  transform: scale(0.8);
  -webkit-animation: anim 1s ease;
          animation: anim 1s ease;
  position: absolute;
  right: -50;
}
@-webkit-keyframes anim {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    transform: rotateY();
  }
}
@keyframes anim {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    transform: rotateY();
  }
}

.video {
  color: #FFFFFF;
}
.video__title {
  margin-bottom: 30px;
}
.video__inner {
  display: flex;
  justify-content: space-between;
}
.video__item {
  width: 22%;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.video__item img {
  max-width: 100%;
}
.video__item-content {
  position: absolute;
  bottom: 35;
  left: 30px;
}
.video__item-title {
  font-size: 20px;
  line-height: 27px;
}
.video__item-text {
  font-size: 14px;
  line-height: 19px;
}
.video__item-text i {
  padding: 5px 7px 5px 9px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 50%;
  margin-right: 8px;
}
.video__item:hover {
  transform: scale(1.1);
}

.burger {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
}
.burger span {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
}
.burger span:first-child {
  top: 5;
}
.burger span:last-child {
  top: 80%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  top: -1000px;
}
.overlay .popup {
  width: 40%;
  min-height: 350px;
  border-radius: 10px;
  padding: 30px;
  background-image: url(../images/back-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
  box-shadow: inset 0 0 80px #000000;
  z-index: 1000;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.overlay .popup__close {
  width: 30px;
  height: 20px;
  position: absolute;
  right: 20;
  cursor: pointer;
}
.overlay .popup__close span {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  transform: rotate(-40deg);
  top: 10px;
  right: 10px;
}
.overlay .popup__close span:last-child {
  transform: rotate(40deg);
}
.overlay .popup__title {
  margin: 20px;
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
}
.overlay .popup__form-item {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 15px;
  box-shadow: 0 0 2px #FFFFFF;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.overlay .popup__form-item input {
  width: 250px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}
.overlay .popup__form-item input:focus {
  outline: none;
}
.overlay .popup__form button {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: #15FFAB;
}
.overlay .popup__form button:hover {
  border: 1px solid #15FFAB;
  color: #15FFAB;
  background-color: transparent;
}
.overlay .popup__register p {
  margin-top: 20px;
  text-shadow: 0 0 20px white;
  font-size: 20px;
  color: #FFFFFF;
}
.overlay .popup__register a {
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: #15FFAB;
}
.overlay .popup__register a:hover {
  border: 1px solid #15FFAB;
  color: #15FFAB;
  background-color: transparent;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1205px;
  }
  .main__title {
    font-size: 60px;
  }
  .main__img {
    transform: scale(0.7);
  }
  .main__content {
    margin-left: 20px;
  }
  .left {
    left: 10px;
  }
  .video__title {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 995px;
  }
  .header__logo {
    font-size: 25px;
  }
  .header__list {
    gap: 20px;
  }
  .header__search input {
    width: 100px;
  }
  .left,
.right {
    font-size: 50px;
    top: 70%;
  }
  .main__title {
    font-size: 40px;
  }
  .main__content {
    max-width: 44%;
  }
  .main__img {
    transform: scale(0.6);
    right: -100;
  }
  .video__inner {
    flex-wrap: wrap;
  }
  .video__item {
    width: 28%;
  }
  .overlay .popup {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 770px;
  }
  .header {
    position: relative;
  }
  .header__search input {
    width: 250px;
  }
  .header__list {
    position: absolute;
    left: -1000px;
  }
  .header__list--active {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 90%;
    padding: 20px 150px;
    text-align: center;
    background: linear-gradient(90.35deg, rgba(76, 46, 83, 0.2) 20.51%, rgba(91, 53, 91, 0.5) 48.2%, rgba(30, 28, 28, 0.5) 83.93%);
    transition: all 0.4s ease;
  }
  .main {
    margin-bottom: 350px;
  }
  .main__inner {
    flex-direction: column;
    margin-left: 0;
  }
  .main__content {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }
  .main__social {
    justify-content: center;
  }
  .main__img {
    height: 300px;
    top: 300px;
    right: 15px;
  }
  .video__inner {
    justify-content: center;
  }
  .video__item {
    margin-top: 40px;
    width: 40%;
  }
  .burger {
    display: block;
  }
  .burger--active span:first-child {
    top: 50%;
    transform: rotate(-40deg);
  }
  .burger--active span:nth-child(2) {
    display: none;
  }
  .burger--active span:last-child {
    top: 50%;
    transform: rotate(40deg);
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 550px;
  }
  .header__search {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__list {
    padding: 20 60;
  }
  .left,
.right {
    font-size: 30px;
  }
  .main {
    margin-bottom: 350px;
  }
  .main__inner {
    position: relative;
  }
  .main__img {
    height: 300px;
    top: 400px;
    left: -80;
    transform: scale(0.6);
  }
  .video__inner {
    justify-content: center;
  }
  .video__item {
    margin-top: 40px;
    width: 60%;
  }
  .video__item-content {
    bottom: -10;
  }
  .icon {
    display: block;
  }
  .overlay .popup {
    width: 60%;
  }
  .overlay .popup__title {
    font-size: 20px;
  }
  .overlay .popup__form-item input {
    width: 100px;
  }
}
@media (max-width: 535px) {
  i {
    padding: 3px;
  }
  .container {
    max-width: 340px;
  }
  .header__list {
    padding: 20 0;
    font-size: 14px;
    gap: 10px;
  }
  .main__inner {
    margin-top: 0;
  }
  .main__play {
    padding: 10px;
  }
  .main__img {
    top: 500px;
    left: -100;
    transform: scale(0.4);
  }
  .video__item {
    width: 90%;
  }
  .video__item-content {
    bottom: 10px;
  }
  .overlay .popup {
    width: 80%;
  }
  .overlay .popup__form-item {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */