.video {
    color: $secondarycolor;

    &__title {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 22%;
        height: 200px;
        position: relative;
        cursor: pointer;

        img {
            max-width: 100%;
        }

        &-content {
            position: absolute;
            bottom: 35;
            left: 30px;
        }

        &-title {
            font-size: 20px;
            line-height: 27px;
        }

        &-text {
            font-size: 14px;
            line-height: 19px;

            i {
                padding: 5px 7px 5px 9px;
                background-color:$secondarycolor;
                color: $textcolor;
                border-radius: 50%;
                margin-right: 8px;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}